<section class="flex justify-center items-center w-120 mx-auto">
    <div class="text-1xl font-semibold mb-4 mr-8">
      <span>Mi nombre es </span>
      <span class="text-red-400">Obed Eliel Castellanos Oseguera</span>
      <span> y soy de </span>
      <span class="text-red-400">Moroceli, El Paraíso.</span>
      Actualmente tengo
      <span class="text-red-400">17 años.</span>
      Me gusta ayudar a los demás en temas que manejo.
      Estoy estudiando la carrera de
      <span class="text-red-400">ingeniería en sistemas</span>
      en la Universidad Nacional Autónoma de Honduras
      <span class="text-red-400">(UNAH).</span>
    </div>
    <img class="rounded-full h-32 w-32 mb-8 transition-transform transform hover:scale-105" src="/src/components/IMG/perfil3.png" alt="Obed Foto">
  </section>
  