<astro>
    <header id="navbar" class="fixed top-0 left-0 z-10 h-15 w-full shadow-md">
      <div class="flex justify-center items-center py-5 xl:w-[1120px] mx-auto">
        <span></span>
        <nav class="flex flex-row gap-x-6 bg-gray-800 w-200 h-10 items-center p-y2 rounded-full">
            <a href="#home">‎ Inicio</a>
            <a href="#proyectos">Proyectos</a>
            <a href="#acercade">Acerca de mí</a>
            <a href="mailto:obedco295@gmail.com">Contacto‎ ‎ ‎ </a>
          </nav>
          
      </div>
    </header>
  </astro>
  
  <style>
    
    .dark {
      background-color: #1f2937;
      color: #ffffff;
    }
  
    .fixed {
      position: fixed;
      transition: top 0.3s;
      border-radius:10px;
      
    }
  
    .dark .fixed {
      background-color: #111827;
      color: #ffffff;
    }
  </style>
  

  
  
  